<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/" [text]="''"></ion-back-button>
        </ion-buttons>

        <ion-title>断面详情</ion-title>

        <ion-buttons slot="primary">
            <ion-button>
                <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content
        fullscreen
        class="tab1-content"
        color="light"
>
    <ion-list lines="none" *ngFor="let riverSection of riverSectionList$ | async;index as riverId">

        <ion-item lines="full" class="bold">
            <ion-label><span class="dot"></span>&nbsp;&nbsp;&nbsp;{{riverSection.RLNAME}}水质状况</ion-label>
        </ion-item>

        <ion-item-group
                class="rivers-section"
                *ngFor="let opiItem of riverSection.opi;index as opiId"
                [routerLink]="['/tabs/tab1/riverDetail', riverId, opiId]"
        >

            <ion-item class="rivers-section-title">
                <ion-label>{{opiItem.WQ_AM_PI_NAME}}
                    <span class="{{'rivers-section-badge rivers-section-badge-' + WATER_TYPE_LEVEL_MODEL[opiItem.WATER_TYPE_JB]}}">{{opiItem.WATER_TYPE_JB}}类</span>
                </ion-label>
                <ion-label class="rivers-section-date">{{riverSection.MTIME}}</ion-label>
            </ion-item>

            <ion-item lines="full" class="rivers-section-content">
                <ion-label>氨氮</ion-label>
                <ion-label>PH</ion-label>
                <ion-label>高锰酸钾指数</ion-label>
                <ion-label>溶解氧</ion-label>
                <ion-label>总磷</ion-label>
                <ion-label>总氮</ion-label>
            </ion-item>

            <ion-item lines="full" class="rivers-section-content">
                <ion-label>{{opiItem.W21003 || "-"}}mg/L</ion-label>
                <ion-label>{{opiItem.W01001 || "-"}}</ion-label>
                <ion-label>{{opiItem.W01019 || "-"}}mg/L</ion-label>
                <ion-label>{{opiItem.W01009 || "-"}}mg/L</ion-label>
                <ion-label>{{opiItem.W21011 || "-"}}mg/L</ion-label>
                <ion-label>{{opiItem.W21001 || "-"}}mg/L</ion-label>
            </ion-item>
        </ion-item-group>

    </ion-list>
</ion-content>
